frontend/node_modules
.idea
.vscode
/.github/instructions/chat-responses.instructions.md
/.github/instructions/code-review.instructions.md
/.github/instructions/commit-messages.instructions.md
/.github/copilot-instructions.md
